* {
    font-family: monospace;
    background-color: rgb(32, 32, 32);
    color: rgb(216, 216, 216);
}

p {
    font-size: 12pt;
}

h2 {
    text-decoration: underline;
}

section {
    margin: 50px;
}

nav {
    background-color: rgb(150, 150, 150);
    text-align: center;
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    & > a{
        background-color: rgb(150, 150, 150);
        font-size: 12pt;
        margin: 10px;
        color: black;
        &:hover {
            color: white;
            background-color: black;
        }
    }
}

#vision {
    text-align: center;
}

#team {
    text-align: center;
    align-items: center;
    margin-top: 50px;
    & > .expand-bio {
        font-size: 12pt;
        text-align: left;
    }
    & > p {
        font-size: 14pt;
    }
}



