/* #webPageHeader {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    
} */
#dropDownMenu{
    display: inline-block;
}
#logoBar{
    text-align: center;
    top: 0;
    left: 0;
    width:15%;
    margin: 20px;
    display: inline-block;
}

#headerMsg{
    text-align: center;
    display: inline-block;
}

#landingView{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.content{
    align-items: center;
  justify-content: center;
}