/* #webPageHeader {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    
} */

*{
    font-size: 14pt;
    font-family: monospace;
}


#dropDownMenu{
    display: inline-block;
}
#logoBar{
    text-align: center;
    top: 0;
    left: 0;
    width:15%;
    margin: 20px;
    display: inline-block;
}

#headerMsg{
    text-align: center;
    display: inline-block;
}

#landingView{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    img {
        max-width: 900px;
        max-height: 900px;
        padding-top: 5%;
    }
}

#infoView{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    * {
        margin: 2%;
    }
}

#templateView{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    * {
        margin: 2%;
    }
}

#downloadView{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    * {
        margin: 2%;
    }
}

#body-header{
    font-size: 40pt;
}

.content{
    align-items: center;
  justify-content: center;
}